<!DOCTYPE html>
<html lang="en" dir="ltr">

<!--BackEnd Course - OK Coders -->
<!--Programmer: Sharyl Hammer -->
<!-- Date: March 12, 2018 -->
<!--Instructor: Sergei -->
<!--This lab combines all three files html, css and js files-->
<!-- Home page that is displayed -->
<head>
  <meta charset="utf-8">
  <!--Mobile First view  -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Page</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet"> -->
</head>

<body class="text-light">

  <div class="container-fluid back_color">
    <div class="row p-3">
      <div class="input-group col-sm-3">
        <div>
          
        </div>
      </div>

      <div class="input-group col-sm-6 p-5">
        <h1 class="text-center ml-3 text-dark">Brighter Futures</h1>
      </div>

      <div class="col-sm-3">
        <!-- <button class="m-3 button logout btn btn-outline-warning btn-sm">LOG OUT</button> -->
      </div>

    </div>
  </div>

  <div class="jumbotron">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>

      <div class="p-3 input-group col-sm-8 mb-2">
        <h1 class="text-center ml-3 text-dark font-italic">Educate, Equip & Empower Children</h1>

        <p class="text-dark">Brighter Futures (BF) was created by volunteers in 2017 to provide the children of the Lincoln Day Community School  with a free Christian day program consisting of Reading, Mathematics, Science, Sports and other educational activities.</p>

      </div>
      <div class="col-sm-2">

      </div>
    </div>
  </div>

</body>
</html>
