<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>About Us</title>
  <style>

  </style>
</head>

<body class="p-3 mb-5 text-dark">

  <div class="jumbotron">

  </div>

  <div class="p-3 mb-2 bg-warning text-dark card text-center card-title card-responsive-sm">

    <address class="address text-center">
      Brighter Futures Foundation<br>
      902 MLK Boulevard<br>
      Wagoner, Oklahoma 74467<br>
      918-807-0262<br>
      Contact us: <a href="mailto:BrighterFutures4Kids@gmail.com">BFF</a>.<br>
    </address>
  </div>


  <!-- <div class="form"> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>

      <div class="p-3 input-group col-sm-8 mb-2">
        <h3 class="text-center">About Brighter Futures</h3>
        <p>Brighter Futures operates at the Lincoln Community Enrichment Center every Monday as a free Enrichment Program for the Wagoner community.<br> Brighter Futures was founded in March 2017 by Dr. Suzanne Salichs and Mr. John W. Jones.<br> Our goal is to complement and enhance our local schools to provide the best possible educational outcomes for the children and families of our community.<br> Brighter Futures is the only day program operating on Mondays in Wagoner. To date, we have served 200 school-aged children and over 55 volunteers have provided their time and talents.</p>

      </div>
      <div class="col-sm-2">

      </div>
    </div>
  </div>

</body>

</html>
